{% extends 'partials/adminbase.html'%}
{% load static %}

{% block content %}





   
    <section class="content-main">
       
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Revenue</h6>
                            <span>₹12,228</span>
                            {% comment %} <span class="text-sm">
                                Shipping fees are not included
                            </span> {% endcomment %}
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders</h6> <span>{{order_count}}</span>
                            <span class="text-sm">
                                Excluding orders in transit
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Products</h6> <span>{{product_count}}</span>
                            <span class="text-sm">
                                In  {{category_count}} Categories
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Monthly Earning</h6> <span>₹{{monthly_revenue}}</span>
                            <span class="text-sm">
                                Based in your local time.
                            </span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    <!--akash-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="card mb-4 ">
                    <article class="card-body">
                        <h5 class="card-title">Sale statistics</h5>
                        <div id="bar-chart"></div>
                        {% comment %} <canvas id="chart" height="120px"></canvas> {% endcomment %}
                    </article>
                </div>
            </div>
            
            
            <style>
                        
            #charted {
            max-width: 650px;
            margin: 35px auto;
            }

            </style>
            <script>
                var options = {
                    chart: {
                    height: 280,
                    type: "area"
                    },
                    dataLabels: {
                    enabled: false
                    },
                    series: [
                    {
                        name: "Series 1",
                        data: [45, 52, 38, 45, 19, 23, 2]
                    }
                    ],
                    fill: {
                    type: "gradient",
                    gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.7,
                        opacityTo: 0.9,
                        stops: [0, 90, 100]
                    }
                    },
                    xaxis: {
                    categories: [
                        "01 Jan",
                        "02 Jan",
                        "03 Jan",
                        "04 Jan",
                        "05 Jan",
                        "06 Jan",
                        "07 Jan"
                    ]
                    }
                    
                };
                
                var chart = new ApexCharts(document.querySelector("#charted"), options);
                
                chart.render();
                
                
            </script>
            
        <!--script-->
            <script>
                google.load("visualization", "1", {packages:["corechart"]});
                google.setOnLoadCallback(drawCharts);
                function drawCharts() {
            
                // BEGIN BAR CHART
                /*
                // create zero data so the bars will 'grow'
                var barZeroData = google.visualization.arrayToDataTable([
                ['Day', 'Page Views', 'Unique Views'],
                ['Sun',  0,      0],
                ['Mon',  0,      0],
                ['Tue',  0,      0],
                ['Wed',  0,      0],
                ['Thu',  0,      0],
                ['Fri',  0,      0],
                ['Sat',  0,      0]
                ]);
                */
                // actual bar chart data
                var barData = google.visualization.arrayToDataTable({{data|safe}});
                // set bar chart options
                var barOptions = {
                focusTarget: 'category',
                backgroundColor: 'transparent',
                colors: ['turquoise', 'tomato'],
                fontName: 'Open Sans',
                chartArea: {
                left: 50,
                top: 10,
                width: '100%',
                height: '70%'
                },
                bar: {
                groupWidth: '80%'
                },
                hAxis: {
                textStyle: {
                    fontSize: 11,
                    color:"#ffffff"
                }
                },
                vAxis: {
                minValue: 0,
                maxValue: 150,
                baselineColor: '#DDD',
                gridlines: {
                    color: '#DDD',
                    count: 4
                },
                textStyle: {
                    fontSize: 11,
                    color:"#ffffff"
                }
                },
                legend: {
                position: 'bottom',
                textStyle: {
                    fontSize: 12,
                    color:"#ffffff"
                }
                },
                animation: {
                duration: 1200,
                easing: 'out',
                        startup: true
                }
                };
                // draw bar chart twice so it animates
                var barChart = new google.visualization.ColumnChart(document.getElementById('bar-chart'));
                //barChart.draw(barZeroData, barOptions);
                barChart.draw(barData, barOptions);
            
                // BEGIN LINE GRAPH
            
                function randomNumber(base, step) {
                return Math.floor((Math.random()*step)+base);
                }
                function createData(year, start1, start2, step, offset) {
                var ar = [];
                for (var i = 0; i < 12; i++) {
                ar.push([new Date(year, i), randomNumber(start1, step)+offset, randomNumber(start2, step)+offset]);
                }
                return ar;
                }
                var randomLineData = [
                ['Year', 'Page Views', 'Unique Views']
                ];
                for (var x = 0; x < 7; x++) {
                var newYear = createData(2007+x, 10000, 5000, 4000, 800*Math.pow(x,2));
                for (var n = 0; n < 12; n++) {
                randomLineData.push(newYear.shift());
                }
                }
                var lineData = google.visualization.arrayToDataTable(randomLineData);
            
                /*
                var animLineData = [
                ['Year', 'Page Views', 'Unique Views']
                ];
                for (var x = 0; x < 7; x++) {
                var zeroYear = createData(2007+x, 0, 0, 0, 0);
                for (var n = 0; n < 12; n++) {
                animLineData.push(zeroYear.shift());
                }
                }
                var zeroLineData = google.visualization.arrayToDataTable(animLineData);
                */
            
                var lineOptions = {
                backgroundColor: 'transparent',
                colors: ['cornflowerblue', 'tomato'],
                fontName: 'Open Sans',
                focusTarget: 'category',
                chartArea: {
                left: 50,
                top: 10,
                width: '100%',
                height: '70%'
                },
                hAxis: {
                //showTextEvery: 12,
                textStyle: {
                    fontSize: 11
                },
                baselineColor: 'transparent',
                gridlines: {
                    color: 'transparent'
                }
                },
                vAxis: {
                minValue: 0,
                maxValue: 50000,
                baselineColor: '#DDD',
                gridlines: {
                    color: '#DDD',
                    count: 4
                },
                textStyle: {
                    fontSize: 11
                }
                },
                legend: {
                position: 'bottom',
                textStyle: {
                    fontSize: 12
                }
                },
                animation: {
                duration: 1200,
                easing: 'out',
                        startup: true
                }
                };
            
                var lineChart = new google.visualization.LineChart(document.getElementById('line-chart'));
                //lineChart.draw(zeroLineData, lineOptions);
                lineChart.draw(lineData, lineOptions);
            
                // BEGIN PIE CHART
            
                // pie chart data
                var pieData = google.visualization.arrayToDataTable([
                ['Country', 'Page Hits'],
                ['USA',      7242],
                ['Canada',   4563],
                ['Mexico',   1345],
                ['Sweden',    946],
                ['Germany',  2150]
                ]);
                // pie chart options
                var pieOptions = {
                backgroundColor: 'transparent',
                pieHole: 0.4,
                colors: [ "cornflowerblue", 
                        "olivedrab", 
                        "orange", 
                        "tomato", 
                        "crimson", 
                        "purple", 
                        "turquoise", 
                        "forestgreen", 
                        "navy", 
                        "gray"],
                pieSliceText: 'value',
                tooltip: {
                text: 'percentage'
                },
                fontName: 'Open Sans',
                chartArea: {
                width: '100%',
                height: '94%'
                },
                legend: {
                textStyle: {
                    fontSize: 13
                }
                }
                };
                // draw pie chart
                var pieChart = new google.visualization.PieChart(document.getElementById('pie-chart'));
                pieChart.draw(pieData, pieOptions);
                }
            </script>
        </div>              
    <!--akash-->
        <!--salegraph newuser....evara-->
         <div class="row">
            <div class="col-xl-8 col-lg-12">
             
            </div>
            <div class="col-xl-4 col-lg-12">
                
            </div>
        </div> 
    <!--orders and pagination starts-->
         <div class="card mb-4">
            <header class="card-header">
                <h4 class="card-title">Latest orders</h4>
                <div class="row " >
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                        {# Your existing category filter dropdown or any other filter element #}
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col-9" >
                        <form class="row g-3" method="get" action="">
                            <div class="col-md-3 col-9">
                                <label for="start_date" class="visually-hidden">Start Date</label>
                                <input type="date" name="start_date" id="start_date" value="02.05.2021" class="form-control">
                            </div>
                            <div class="col-md-3 col-9">
                                <label for="end_date" class="visually-hidden">End Date</label>
                                <input type="date" name="end_date" id="end_date" value="02.05.2021" class="form-control">
                            </div>
                            {% comment %} <div class="col-md-3 col-6"> {# Adjusted column width for the Status dropdown #}
                                <select class="form-select" >
                                    <option value="Status" name="status" id="status"> Select Status</option>
                                    <option value="Confirmed" name="status" id="status" class="text-success">Confirmed</option>
                                    <option value="shipping" name="status" id="status" class="text-success">shipping</option>
                                    <option value="Delivered" name="status" id="status" class="text-success">Delivered</option>
                                    <option value="Cancelled" name="status" id="status" class="text-success">Cancelled</option>
                                    
                                </select>
                            </div> {% endcomment %}
                            <div class="col-md-3 col-9">
                                <button type="submit" class="btn btn-primary">Apply Filter</button>
                            </div>
                        </form>
                        </div>
                        <div class="col-3  text-end">
                            <div class="col-md-12  col-6 text-end"> {# Aligning the Download Report button to the right end #}
                                <a href="{% url 'adminp:sales_report_pdf' %}?{% if request.GET.start_date %}start_date={{ request.GET.start_date }}&{% endif %}{% if request.GET.end_date %}end_date={{ request.GET.end_date }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}" class="btn btn-primary">
                                    <i class="text-muted material-icons md-post_add"></i>Download report
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="card-body">
                <div class="table-responsive" >
                    <table class="table table-bordered table-hover" id="myTable">
                        <thead >
                            <tr>
                                <th>#ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <p id="noResultsMessage" style="display: none;">No results found</p>
                            {% for order in all_orders %}
                            <tr>
                                <td>{{order.order_number}}</td>
                                <td><b>{{ order.user.username }}</b></td>
                                <td>{{order.user.email}}</td>
                                <td>₹{{order.order_total}}</td>
                                <td><span class="badge rounded-pill alert-success">{{order.status}}</span></td>
                                <td>{{order.created_at}}</td>
                                
                            </tr>
                            <script>
                                function handleStatusChange{{order.order_number}}(status) {
                                    var form = document.getElementById("statusForm1{{order.order_number}}");
                                    form.elements["status"].value = status;
                                    form.submit();
                                }
                            </script>
                            {% endfor %}
                        </tbody>
                                <!--single row with translated books finish-->  
                    </table>
                </div> <!-- table-responsive end// -->
            </div>
        </div>
        <!-- Display paginated orders -->
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    {% if all_orders.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
        
                    {% for num in all_orders.paginator.page_range %}
                        {% if num == all_orders.number %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
        
                    {% if all_orders.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ all_orders.paginator.num_pages }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        {% comment %} <script>
            $(document).ready( function() {
                $('#myTable').DataTable();
            });
        </script> {% endcomment %}
       <script>
        function fetchMonthlyData() {
            fetch('{% url 'adminp:monthly_data' %}')
            .then(response => response.json())
            .then(data => {
                // Handle monthly data
                console.log(data);
            })
            .catch(error => {
                console.error('Error fetching monthly data:', error);
            });
      }

        function fetchYearlyData() {
            fetch('{% url 'adminp:yearly_data' %}')
            .then(response => response.json())
            .then(data => {
                // Handle yearly data
                console.log(data);
            })
            .catch(error => {
                console.error('Error fetching yearly data:', error);
            });
        }

       </script>

       <div class="row">
        <div class="col-lg-4">
            <div class="card card-body mb-4">
                <h5 class="card-title">Top 5 Best-Selling Products</h5>
                <ul class="list-group">
                    {% for product in top_selling_products %}
                        <li class="list-group-item">{{ product.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Display top 10 best-selling categories -->
        <div class="col-lg-4">
            <div class="card card-body mb-4">
                <h5 class="card-title">Top 5 Best-Selling Categories</h5>
                <ul class="list-group">
                    {% for category in top_selling_categories %}
                        <li class="list-group-item">{{ category.category_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Display top 10 best-selling brands -->
        <div class="col-lg-4">
            <div class="card card-body mb-4">
                <h5 class="card-title">Top 5 Best-Selling Brands</h5>
                <ul class="list-group">
                    {% for brand in top_selling_brands %}
                        <li class="list-group-item">{{ brand.brand_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
        <!--orders and pagination ends-->
</section> <!-- content-main end// -->
   
</main>


{% endblock content %}