{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<section class="pt-150 pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3 class="mb-30">Reset password</h3>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form action="{%url 'userauths:reset_password'%}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input required type="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input required type="password" name="confirm_password" placeholder="confirmPassword">
                            </div>
                           
                            <div class="form-group">
                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">reset</button>
                            </div>
                            <div class="text-muted text-center">Don't have an account?<a href="{%url 'userauths:signuppage'%}">Sign up</a></div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
