{% extends 'partials/adminbase.html' %}
{% load static %}
{%  block content %}
<section class="content-main">
    <div class="row">
        <div class="col-lg-9">
            <div class="content-header">
                <h2 class="content-title">Update Product</h2>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div> <!-- card end// -->
        </div>
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Media</h4>
                </div>
                <div class="card-body">
                    <div class="input-upload">
                        <label for="file-upload" class="btn btn-secondary">
                            <img src="{% static 'assets/imgs/theme/upload.svg' %}" alt="Upload Image">
                            Upload Image
                        </label>
                        <input id="file-upload" class="form-control" type="file" name="image" style="display: none;">
                    </div>
                </div>
            </div> <!-- card end// -->
        </div>
    </div>
</section> <!-- content-main end// -->
{% endblock content %}