{% extends 'partials/adminbase.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    <div class="row">
        <div class="col-lg-9">
            <div class="content-header">
                <h2 class="content-title">Update Product</h2>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="{{ form.name.id_for_label }}" class="form-label">Product Name</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.category.id_for_label }}" class="form-label">Category</label>
                            {{ form.category }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.price.id_for_label }}" class="form-label">Price</label>
                            {{ form.price }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.brand.id_for_label }}" class="form-label">Brand</label>
                            {{ form.brand }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.stock.id_for_label }}" class="form-label">Stock</label>
                            {{ form.stock }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                            {{ form.description }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.pro_discount.id_for_label }}" class="form-label">Discount</label>
                            {{ form.pro_discount }}
                        </div>
                        <div class="form-group form-check mb-3">
                            {{ form.is_active }}
                            <label class="form-check-label" for="{{ form.is_active.id_for_label }}">Is Active</label>
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.image.id_for_label }}" class="form-label">Product Image</label>
                            {{ form.image }}
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div> <!-- card end// -->
        </div>
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Media</h4>
                </div>
                <div class="card-body">
                    <div class="input-upload">
                        <label for="file-upload" class="btn btn-secondary">
                            <img src="{% static 'assets/imgs/theme/upload.svg' %}" alt="Upload Image">
                            Upload Image
                        </label>
                        <input id="file-upload" class="form-control" type="file" name="image" style="display: none;">
                    </div>
                </div>
            </div> <!-- card end// -->
        </div>
    </div>
</section> <!-- content-main end// -->
{% endblock content %}
