{% extends 'partials/adminbase.html' %}
{% load static %}
{%  block content %}
<section class="content-main">
    <div class="row">
        <div class="col-lg-9">
            <div class="content-header">
                <h2 class="content-title">Update Product</h2>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div> <!-- card end// -->
        </div>
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Media</h4>
                </div>
                <div class="card-body">
                    <div class="input-upload">
                        <label for="file-upload" class="btn btn-secondary">
                            <img src="{% static 'assets/imgs/theme/upload.svg' %}" alt="Upload Image">
                            Upload Image
                        </label>
                        <input id="file-upload" class="form-control" type="file" name="image" style="display: none;">
                    </div>
                </div>
            </div> <!-- card end// -->
        </div>
        <div class="col-lg-4">
            <div class="mb-4">
                <label class="form-input-check my-2 px-4">
                    <input type="checkbox" {% if form.pro_discount.value %}checked{% endif %} id="toggleProDiscount"> Apply Product Offer
                </label>
            </div>
            <div class="mb-4" id="proDiscountRow" {% if not form.pro_discount.value %}style="display: none;"{% endif %}>
                <label for="pro_discount" class="form-label">Product Discount</label>
                {{ form.pro_discount }}
                {% if error %}
                <label class="text-danger">{{ error.pro_discount }}</label>
                {% endif %}                                        
            </div>
        </div>
        <script>
            // Add an event listener to detect changes in the checkbox
            document.getElementById('toggleProDiscount').addEventListener('change', function () {
                // Get the proDiscountRow element
                var proDiscountRow = document.getElementById('proDiscountRow');
                var proDiscountInput = document.getElementById('id_pro_discount'); // Get the product discount input element
        
                // Toggle its visibility based on the checkbox state
                proDiscountRow.style.display = this.checked ? 'block' : 'none';
        
                // Clear the value of the pro_discount input if the checkbox is unchecked
                if (!this.checked) {
                    proDiscountInput.value = '';
                }
            });
        </script>
        
    </div>
</section> <!-- content-main end// -->
{% endblock content %}
