{% extends "partials/base.html" %}
{% load static %}

{% block title %}
{{user}}'s cart
{% endblock %}

{% block content %}
<form action="{% url 'order:create_address' %}" method="post" name="add-address-form">
    <div class="row">
{% csrf_token %}
    {% if form.errors %}
    {% for error in form.errors %}{{error}}{% endfor %}
    {% endif %}
    <div class="row">
        <div class="form-group col-md-6">
            <label>Full Name <span class="required">*</span></label>
            {{ form.name }}
            {% if form.errors.name %}
                <label class="text-danger">{{ form.errors.name.0 }}</label>
            {% endif %}
        </div>
        <div class="form-group col-md-6">
            <label>Phone Number <span class="required">*</span></label>
            <div class="input-group ">
                <div class="input-group-prepend ">
                    <span class="input-group-text h-100">+91</span>
                </div>
                <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter your phone number">
            </div>
            {% if form.errors.phone_number %}
                <label class="text-danger">{{ form.errors.phone_number.0 }}</label>
            {% endif %}
        </div>
        </div>
        <div class="form-group col-md-12">
            <label>Address line1 <span class="required">*</span></label>
            {{ form.address_line_1 }}
            {% if form.errors.address_line_1 %}
                <label class="text-danger">{{ form.errors.address_line_1.0 }}</label>
            {% endif %}
        </div>
        <div class="form-group col-md-12">
            <label>Address line 2<span class="required">*</span></label>
            {{ form.address_line_2 }}
            {% if form.errors.address_line_2 %}
                <label class="text-danger">{{ form.errors.address_line_2.0 }}</label>
            {% endif %}
        </div>
        <div class="form-group col-md-4">
            <label>Country<span class="required">*</span></label>
            {{ form.country }}
            {% if form.errors.country %}
                <label class="text-danger">{{ form.errors.country.0 }}</label>
            {% endif %}
        </div>
        <div class="form-group col-md-4">
            <label>State<span class="required">*</span></label>
            {{ form.state }}
            {% if form.errors.state %}
                <label class="text-danger">{{ form.errors.state.0 }}</label>
            {% endif %}
        </div>
        <div class="form-group col-md-4">
            <label>City<span class="required">*</span></label>
            {{ form.city }}
            {% if form.errors.city %}
                <label class="text-danger">{{ form.errors.city.0 }}</label>
            {% endif %}
        </div>
        <div class="form-group col-md-4">
            <label>PIN<span class="required">*</span></label>
            {{ form.pincode }}
            {% if form.errors.pincode %}
                <label class="text-danger">{{ form.errors.pincode.0 }}</label>
            {% endif %}
        </div>
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
  
    </div>
    
</form>
{% endblock content %}