{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
    <main class="main single-page">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> About us
                </div>
            </div>
        </div>
        <section class="section-padding">
            <div class="container pt-25">
                <div class="row">
                    <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                        <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Company</h6>
                        <h1 class="font-heading mb-40">
                            We are Building the Ultimate Destination for Dog Lovers
                        </h1>
                        <p>Discover tips, resources, and a community that cares about your furry friend. Whether you're looking for training advice, health tips, or fun activities, we've got you covered.</p>
                        <p>Explore a variety of articles, guides, and expert insights to keep your dog happy and healthy. From puppy care to senior dog wellness, find everything you need to ensure a long and joyful life for your pet. Join our community of passionate dog owners and share your own experiences and stories. </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="{%static  'assets/imgs/blog/aboutimage4.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </section>
        
        <section id="work" class="mt-40 pt-50 pb-50 section-border">
            <div class="container">
                <div class="row mb-50">
                    <div class="col-lg-12 col-md-12 text-center">
                        <h6 class="mt-0 mb-5 text-uppercase  text-brand font-sm wow fadeIn animated">PupEase Coporation</h6>
                        <h2 class="mb-15 text-grey-1 wow fadeIn animated">Adopt a Pet Today</h2>
                        <p class="w-50 m-auto text-grey-3 wow fadeIn animated">Join the many who have found their perfect companion through our network. Adopting a pet is a rewarding experience that brings joy and love into your home. Our platform connects you with pets in need of a loving home and provides all the information and support you need to make the right choice.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center mb-md-0 mb-4">
                        <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="{%static  'assets/imgs/blog/aboutadoption1.jpg'%}" alt="">
                        <h4 class="mt-30 mb-15 wow fadeIn animated">HAPPY FAMILY</h4>
                        <p class="text-grey-3 wow fadeIn animated"> A happy family with their<br> newly adopted dog.</p>
                    </div>
                    <div class="col-md-4 text-center mb-md-0 mb-4">
                        <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="{%static  'assets/imgs/blog/aboutadoption2.jpg'%}" alt="">
                        <h4 class="mt-30 mb-15 wow fadeIn animated">Adoptable Pets</h4>
                        <p class="text-grey-3 wow fadeIn animated">Heartwarming photos of pets<br>available for adoption.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="{%static  'assets/imgs/blog/aboutadoption3.jpg'%}" alt="">
                        <h4 class="mt-30 mb-15 wow fadeIn animated">Pet Adoption Event</h4>
                        <p class="text-grey-3 wow fadeIn animated">Scene from a pet adoption event <br>with people and animals.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="testimonials" class="section-padding">
            <div class="container pt-25">
                <div class="row mb-50">
                    <div class="col-lg-12 col-md-12 text-center">
                        <h6 class="mt-0 mb-10 text-uppercase  text-brand font-sm wow fadeIn animated">some facts</h6>
                        <h2 class="mb-15 text-grey-1 wow fadeIn animated">Take a look what<br> our clients say about us</h2>
                        <p class="w-50 m-auto text-grey-3 wow fadeIn animated">We are proud to share the experiences of those who have adopted pets through our platform.</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">
                            <div class="hero-card-icon icon-left-2 hover-up ">
                                <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted" src="{%static  'assets/imgs/blog/about1.jpg'%}" alt="">
                            </div>
                            <div class="pl-30">
                                <h5 class="mb-5 fw-500">
                                    J. Bezos
                                </h5>
                                <p class="font-sm text-grey-5">Adobe Jsc</p>
                                <p class="text-grey-3">"Adopting through this site was an amazing experience. Our new dog has brought so much joy into our home. The process was smooth, and the support we received was incredible."</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">
                            <div class="hero-card-icon icon-left-2 hover-up ">
                                <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted" src="{%static  'assets/imgs/blog/aboutimage3.jpg'%}" alt="">
                            </div>
                            <div class="pl-30">
                                <h5 class="mb-5 fw-500">
                                    B.Gates
                                </h5>
                                <p class="font-sm text-grey-5">Pet lover</p>
                                <p class="text-grey-3">"Our family found the perfect furry friend through this site. The adoption process was seamless, and the support team was incredibly helpful and kind. We couldn't be happier with our new dog!"</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">
                            <div class="hero-card-icon icon-left-2 hover-up ">
                                <img class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted" src="{%static  'assets/imgs/blog/blog-9.jpg'%}" alt="">
                            </div>
                            <div class="pl-30">
                                <h5 class="mb-5 fw-500">
                                    B. Meyers
                                </h5>
                                <p class="font-sm text-grey-5">Dog Enthusiast</p>
                                <p class="text-grey-3">"Adopting my dog was one of the best decisions I've ever made. This platform made it so easy to find and adopt a pet in need. The resources and guidance provided were invaluable."</p>
                            </div>
                        </div>
                    </div>
                    
                    
                
                </div>
                <div class="row mt-30">
                    <div class="col-12 text-center">
                        <p class="wow fadeIn animated">
                            <a class="btn btn-brand text-white btn-shadow-brand hover-up btn-lg">View More</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
   
    <!-- Vendor JS-->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <!-- Template  JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:39 GMT -->
</html>
{% endblock content %}