{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'store:index' %}" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            {% for category in categories %}
                            <li><a href="?category={{ category.slug }}{% if selected_brand %}&brand={{ selected_brand }}{% endif %}">{{ category.category_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <div class="widget-brand">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Brand</h5>
                        <ul class="brands">
                            {% for brand in brands %}
                            <li><a href="?brand={{ brand.brand_name }}{% if selected_category_slug %}&category={{ selected_category_slug }}{% endif %}">{{ brand.brand_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p> We found <strong class="text-brand">{{ products.count }}</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">Featured</a></li>
                                        <li><a href="{% url 'store:shop_ase_price' %}">Price: Low to High</a></li>
                                        <li><a href="{% url 'store:shop_des_price' %}">Price: High to Low</a></li>
                                        <li><a href="{% url 'store:shop0' %}">A-Z</a></li>
                                        <li><a href="{% url 'store:shop1' %}">Z-A</a></li>
                                        <li><a href="{% url 'store:shop_new_arrivals' %}">New Arrivals</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid-3">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'store:product_detail' pk=product.pk %}">
                                            <img class="default-img" src="{{ product.image.url }}" alt="">
                                        </a>
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        {% if product.is_hot %}
                                        <span class="hot">Hot</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="">{{ product.category }}</a>
                                    </div>
                                    <h2><a href="">{{ product.name }}</a></h2>
                                    <div class="rating-result" title="{{ product.discount_percentage }}%">
                                        <span>
                                            <span>{{ product.discount_percentage }}%</span> <!-- Display the actual discount percentage -->
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        {% if product.discounted_price != product.price %}
                                        <span>₹{{ product.discounted_price }}</span>
                                        <span class="old-price">₹{{ product.price }}</span>
                                        <!-- <span class="discount">-{{ product.discount_percentage }}%</span> Display discount percentage -->
                                        {% else %}
                                        <span>₹{{ product.price }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--pagination-->
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            {% if products.has_other_pages %}
                            <ul class="pagination justify-content-start">
                                {% if product.has_previous %}
                                <li class="page-item active"><a class="page-link" href="?page={{products.previous_page_number}}">previous</a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">previous</a></li>
                                {% endif %}
                                {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                <li class="page-item"><a class="page-link" href="#">{{ i }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">16</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
                <!-- cat -->
              
            </div>
       

                    </div>
                    
                    
                    
                    
                       
                    </div>
                </div>
               
            </div>
            
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const sortOptions = document.querySelectorAll('.sort-option');
        sortOptions.forEach(option => {
            option.addEventListener('click', function(event) {
                event.preventDefault();
                const selectedSort = this.getAttribute('data-sort');
                document.getElementById('selected-sort').innerText = this.innerText;
                window.location.href = "{% url 'store:shop' %}?sort=" + selectedSort;
            });
        });
    });
</script>
        </section>
    </main>
    <!-- Vendor JS-->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
    <!-- Template  JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/shop.js' %}"></script>

   
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:25:49 GMT -->
</html>
{% endblock content %}